html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #E2F0FF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-employees-manager-app {
  border:1px solid green !important;
}
.btn-employees-manager-app:hover {
  transition: 1.1s;
  background-color: green !important;
  color:#FFF !important;
}

